#home {
  //border-bottom: 1px solid red;
  //background-image: url(../images/fresh-fruit.jpg);
  //background-repeat: no-repeat;
  //background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 55.6em;
  nav {
    //position: relative;
    background-color: transparent;
    border-color: transparent;
    a {
      color: black;
      font-family: $nav-font;
    }
  }
  .business-name {
    font-family: $resto-name-font;
    font-size: 3em;
  }

   .carousel-start {
     position: relative;

     .carousel-indicators {
       left: 92%;
       .active {
         color: #FFF;
         border: 2px solid black;
       }
     }
   }
  .tasty-img {
    .tasty {
      // margin-left: auto;
      // margin-right: auto;
      // display: block;
      position: absolute;
      top: 11em;
      left: 31em;
    }
    .tasty-data {
      position: absolute;
      top: 32em;
      left: 36.5em;
    }
    .tasty-data-left {
      position: absolute;
      top: 32.3em;
      left: 20em;
    }
    .tasty-data-right {
      position: absolute;
      top: 32.3em;
      left: 76em;
    }
  }
}
